html, body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.App {
  padding: 20px;;
}

.appcontainer {
  margin: 0;
}

.navbar { 
  display: flex;
  /* padding: 0px 20px; */
  background-color: rgba(0, 0, 0, .06);
}

button.navbar-button {
  /* padding: 5px 20px; */
  width: 100px;
  margin: 5px 10px;
  border: none;
  background-color: transparent;
  /* border-radius: 3px; */
}

#home-btn {
  color: white;
  text-decoration: none;
}

.frozen {
  background-image: url('./images/frozen.jpeg');
  height: 90vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 50px;
  position: relative;
}

.frozenlog {
  background: linear-gradient(rgba(255,255,255,.7), rgba(255,255,255,.7)), url('./images/frozen.jpeg');
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 50px;
  position: relative;
}

.navbar-brand {
  margin: 5px 10px;
}

.img-fluid {
  max-width: 100%;
  height: auto; 
}