@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

html,
body {
  margin: 0;
  padding: 0;
  font-family: monospace;
  /* overflow: hidden; */
}

* {
  box-sizing: border-box;
}

.App {
  padding: 20px;
}

/* .appcontainer {
  margin: 0;
} */

.navbar2 { 
  height: 66px;;
  background-color: rgba(0, 0, 0, .2);
  padding: 10px;
  display: flex;
  justify-content: flex-end;
}

button.navbar-button {
  /* padding: 5px 20px; */
  width: 30px;
  margin: 5px 15px;
  border: none;
  background-color: transparent;
  /* border-radius: 3px; */
}

#home-btn {
  color: white;
  text-decoration: none;
}

.frozen {
  background-image: url("./images/frozen.jpeg");
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.frozenbackground {
  background: linear-gradient(rgba(255,255,255,.7), rgba(255,255,255,.7)), url('./images/frozen.jpeg');
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 50px;
  position: relative;
}

.navbar-brand {
  font-style: italic;
}

.img-fluid {
  max-width: 100%;
  height: auto;
}

.logincontainer {
  width: 300px;
  margin: auto;
}

.lineimg {
  height: 200px;
}

.donutimg {
  width: 200px;
}

.numberimg {
  width: 400px;
}

.home {
  background: linear-gradient(rgba(127, 255, 212, .7), rgba(127, 255, 212,.7)), url('./images/frozen.jpeg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  min-height: 100vh;
  margin: 0;
}

.homecontainer {
  display: flex;
  flex-direction: column;
  align-content: center;
}

.rowcontainer {
  min-height: 100vh;
  display: flex;
  align-items: center;
}

#loginbutton {
  width: 100%;
}

#logouticon {
  width: 30px;
}

#homeicon {
  width: 32px;
}

.profile {
  margin-top: 5px;
}

.article-image {
  background-color:rgba(0, 0, 0, .2);
  padding: 20px;
  height: 350px;
  display: flex;
  justify-content: center;
  align-content: center;
}

.article-image img {
  width: auto;
  margin: 30px;
  height: 250px;
}

.article-text {
  /* width: 80%; */
  /* background-color:rgba(255, 255, 146,.5); */
  font-size: 1.3em;
  margin-top: 30px;
  height: 170px;
  text-align: justify;
  text-justify: distribute;
}

#number {
  font-size: 10em;
}

.BarChartRow {
  display: flex;
  justify-content: center;
}

.BarChartCol {
  display: flex;
  justify-content: center;
}

.WeekRow {
  display: flex;
  justify-content: center;
}

.WeekCol {
  display: flex;
  justify-content: center;
}

.kpi {
  width: 300px;
  height: 150px;
  margin: 40px;
}
