html,
body {
  margin: 0;
  padding: 0;
  /* overflow: hidden; */
}

* {
  box-sizing: border-box;
}

.App {
  padding: 20px;
}

.appcontainer {
  margin: 0;
}

.navbar {
  display: flex;
  /* padding: 0px 20px; */
  background-color: rgba(0, 0, 0, 0.06);
  justify-content: flex-end;
}

button.navbar-button {
  /* padding: 5px 20px; */
  width: 100px;
  margin: 5px 10px;
  border: none;
  background-color: transparent;
  /* border-radius: 3px; */
}

#home-btn {
  color: white;
  text-decoration: none;
}

.frozen {
  background-image: url("./images/frozen.jpeg");
  height: 90vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 50px;
  position: relative;
}

.frozenlog {
  background: linear-gradient(
      rgba(255, 255, 255, 0.7),
      rgba(255, 255, 255, 0.7)
    ),
    url("./images/frozen.jpeg");
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 50px;
  position: relative;
}

.navbar-brand {
  margin: 5px 10px;
}

.img-fluid {
  max-width: 100%;
  height: auto;
}

.logincontainer {
  width: 300px;
  margin: auto;
}

.lineimg {
  width: 480px;
  margin: 20px 20px;
}

.barimg {
  width: 320px;
  margin: 20px 20px;
}

.donutimg {
  width: 200px;
  margin: 20px 20px;
}

.home {
  background-color: salmon;
  /* height: 100vh; not scroll down */
  height: 100%;
  min-height: 100vh;
}

.homecontainer {
  display: flex;
  flex-direction: column;
  align-content: center;
}

.rowcontainer {
  min-height: 100vh;
  display: flex;
  align-items: center;
}

.BarChartRow {
  display: flex;
  justify-content: center;
}

.BarChartCol {
  display: flex;
  justify-content: center;
}
